version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_app
    env_file:
      - .env
    depends_on:
      - db
    command: python main.py

volumes:
  postgres_data:
